_tmpres/
src/_android/build/
src/_android/obj/local/armeabi/objs-debug/topebox_framework/__/__/game/Lib/png/lodepng.o.d
src/_android/obj/
src/_android/libs/armeabi/
src/_win/Debug/
src/_win/iPhoneGame.VC.VC.opendb
src/_win/iPhoneGame.VC.db
src/_android/.idea/
src/_android/.gradle/
src/_android/exlibproject/
src/_win/ipch/
src/_win/.vs/
.gradle/
bin/res_Android/
src/_android/assets/
Tools/GDS_Exporter/
bin/_win/
src/game/Define/
bin/Res_WP8/
