<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon-72.png</string>
		<string>icon@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>WildWildWest.PineEntertainment.Com</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.2</string>
	<key>CFBundleVersion</key>
	<string>3.3.2.8</string>
	<key>FacebookAppID</key>
	<string>429383817183369</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Advertisement would like to use bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Advertisement would like to create a calendar event.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Advertisement would like to store a photo.</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>gamekit</key>
		<true/>
		<key>still-camera</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
